<%- include('partials/head') %> <%- include('partials/header') %>

<div class="d-flex flex-column px-1">
  <header class="profile-info-container d-flex align-items-center p-3">
    <img
      src="/assets/images/placeholder.png"
      id="profile-pic-profile"
      class="profile-pic img-fluid rounded-circle profile-pic border rounded-2"
      alt="Profile picture" />
    <div class="ms-4">
      <span
        class="profile-title badge text-dark fs-6 rounded-pill px-3 py-2"
        id="profile-title">
        Quinn's Cookbook
      </span>
      <p class="description py-2 small" id="profile-bio">
        📍 Vancouver, BC <br />
        Welcome to my recipe page!
      </p>
    </div>
  </header>

  <main class="d-flex flex-column flex-grow-1">
    <div class="row g-3 mb-2">
      <div class="profile-grid-btn col-6">
        <a href="#" class="btn btn-custom d-block w-100">
          <i class="bi bi-grid-3x3"></i>
        </a>
      </div>
      <div class="share-button col-6">
        <a href="#" class="btn btn-custom d-block w-100">
          <i class="bi bi-reply-fill"></i>
        </a>
      </div>
    </div>

    <hr class="mt-0 mb-2" />

    <div class="post-content-grid">
      <div class="row g-1">
        <% if (locals.posts && posts.length) { %> <%
        posts.forEach(function(post) { %>
        <div class="post col-4">
          <div class="post-img-container aspect-ratio aspect-ratio-1x1 post">
            <img
              src="<%= post.imageUrl %>"
              class="post-img img-square rounded"
              alt="<%= post.alt %>" />
          </div>
        </div>
        <% }) %> <% } else { %>
        <div class="col-12">
          <p class="p-3 text-center">No posts to display.</p>
        </div>
        <% } %>
      </div>
    </div>
  </main>
</div>

<%- include('partials/navbar', {active: 'profile'}) %> <%-
include('partials/footer') %> <%- include('partials/scripts') %>
