<%- include('partials/head') %> <%- include('partials/header') %>

<div class="d-flex flex-column feed px-3 py-2">
  <div id="recipe-page-content" class="recipe-full-card">
    <img
      src=""
      class="square-media create-image mb-2"
      alt="Recipe Image"
      id="recipe-image" />

    <h3 id="recipe-name" class="mb-0">Loading...</h3>
    <p class="author-chip mb-3" id="recipe-author">by...</p>
    <p id="recipe-timestamp"></p>

    <div id="recipe-save-container" class="recipe-save-container"></div>
  </div>
</div>

<script type="module" src="/js/recipeDetail.js"></script>
<%- include('partials/navbar', {active: 'recipe'}) %> <%-
include('partials/footer') %> <%- include('partials/scripts') %>
